/* Apply Tailwind CSS base, components, and utilities */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional custom styles */

body {
    font-family: 'Arial', sans-serif;
}

header {
    @apply bg-[#c8102e] text-white p-4 text-center sticky top-0 z-50;
}

#mainHeader img {
    @apply rounded-full border-2 border-white;
}

nav {
    @apply bg-[#c8102e] p-4 text-center flex justify-between items-center;
}

nav a {
    @apply text-white no-underline font-bold transition duration-300 ease-in-out mr-4;
}

nav a:hover {
    @apply text-gray-300;
}

section {
    @apply relative h-screen flex items-center justify-center overflow-y-auto;
    background-image: url('{% static 'y2k/images/landing.jpg' %}');
    background-size: cover;
}

section::before {
    @apply absolute inset-0 bg-black bg-opacity-50 content '';
}

section .content {
    @apply text-center z-10;
}

section h2 {
    @apply text-[#c8102e];
}

footer {
    @apply bg-[#333] text-white p-4 text-center mt-auto;
}

/* Additional styles for reducing the size of the footer */
footer h4 {
    @apply text-lg;
}

.footer-icon {
    @apply text-lg;
}
